# Cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.cache/
*.cache
*.slprj/
*.slx.bak
*.slxc
*.vscode/
*.myvenv/
# MATLAB cache files
*.asv
*.m~

# Simulink cache files
*.slx.autosave
slprj/
*.slx.bak

build
mx.scratch
!.settings
*safeBackup*
*.log
*.tmp
*.bak
*.swp
*.swo
.gitignore