# Cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.cache/
*.cache
*.slprj/
*.slx.bak
*.slxc
*.vscode/
# MATLAB cache files
*.asv
*.m~

# Simulink cache files
*.slx.autosave
slprj/
*.slx.bak
